<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>
<link rel="stylesheet" href="css/auth.css">

<div class="login">
            <h2>Login</h2>
            <% if (authError) { %>
                <div class="alert alert-err">
                    <%= authError %> 
                </div>
            <% } %>
            <form action="/login" method="POST">

                <div class="input-field">
                    <input type="email" name="email" required>
                    <label>E-mail</label>
                    <span></span>
                </div>

                <div class="input-field">
                    <input type="password" name="password" required>
                    <label>password</label>
                    <span></span>
                </div>

                <button type="submit">Login</button>

            </form>

            <div style="color: #fff; margin-top: 15px">
                Don't have account ? <a href="/singup">Create Account</a>
            </div>

        </div>

<%- include('parts/footer.ejs') %>