.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box .before{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    /*font-size: initial;*/
    opacity: 0;
    transition: 0.5s;
}
.container .box .after{
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    /*font-size: initial;*/
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover .before,
.container .box:hover .after{
    opacity: 0.04;
}
.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform: translate3d(0,0,75px);
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name{
    top: 40px;
    opacity: 1;
}
.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background-color: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}
.container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px);
    z-index: 10;
    opacity: 1;
}
.container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 220px;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px);
}
.container .box:hover .product{
    transform: translate3d(-50%, -50%, 100px);
}


.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
    background: #379bf7;
}
.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy{
    background: #9bdc28;
}
.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy{
    background: #fb4b4f;
}






.card{
    position: relative;
    width: 320px;
    height: 420px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    margin: 30px;
}
.card::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -10px;
    width: 120%;
    height: 100%;
    background: #2196f3;
    transform: skewY(350deg);
    transition: 0.5s;
}
.card:hover:before{
    transform: skewY(390deg);
    top: -70%;
}
.card::after{
    content: 'Phillips';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}
.card .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imgBx img{
    min-width: 50%;
    max-width: 78%;
    max-width: 180px;
    transition: 0.5s;
}
.card:hover .imgBx img{
    min-width: 20%;
    max-width: 60%;
    max-height: 190px;
}
.card .contentBx{
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 200px;
    transition: 0.5s;
}
.card:hover .contentBx{
    bottom: 50px;
}
.card .contentBx h3{
    font-size: 21px;
    color: #fff;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .contentBx .price{
    font-size: 24px;
    color: #fff;
    font-weight: 550;
    letter-spacing: 1px;
}
.card .contentBx .buy{
    position: relative;
    top: 150px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
.card:hover .contentBx .buy{
    top: 0;
    opacity: 1;
}
.card .contentBx .form-amount{
    position: relative;
    top: 150px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBx .form-amount{
    top: 0;
    opacity: 1;
}