* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    background: #131313;
    margin-top: 100px;
}

.btn-pr {
    border: none;
    outline: none;
    color: #fff;
    background-color: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

.cart-gr {
    width: 40%;
}

.cart-propartis {
    text-align: center;
    padding: 30px;
    margin: 10px 20px;
    background: #0b2635;
    border-radius: 30px;
    width: 100%;
    height: 90%;
    font-size: 20px;
}

.cart-propartis * {
    padding: 10px;
}

.cart-group-2 {
    display: flex;
    width: 100%;
    height: 100%;
}

@media( max-width: 950px) {
    .cart-propartis {
        font-size: 15px;
        margin: 10px;
    }
}

@media( max-width: 921px) {
    .cart-group-2 {
        display: block;
    }
}

.alert {
    width: 90%;
    font-size: 20px;
    background: rgb(0, 217, 255);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
}

.alert-err {
    background: rgb(255, 70, 54);
    color: #fff;
    border: 2px solid #8b0000;
}