<nav class="nav">
    <input type="checkbox" class="check" id="check">
    <label for="check">
            <li><img src="/img/R3.png" alt="القائمة" class="checkbtn"></li>
        </label>
    <label for="" class="logo">online shope</label>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/singup">Singup</a></li>
        <li><a href="/admin/add">Add Product</a></li>
        <li><a href="/admin/orders">Manage Orders</a></li>
        <li><a href="/logout" style="color: rgb(255, 159, 167); background: #cf1800;">Logout</a></li>
        <!--<li>
            <input type="search">
            <button>search</button>
        </li>-->
    </ul>
</nav>